@import "monofur.css";
@import "solarized.theme.css";
@import "pretty_print.css";

html, body {
	width: 100vw;
	height: 100vh;
	margin: 0px;
	padding: 0px;
}

body {
	background-color: var(--term-background);
	color: var(--term-color);
	font-family: 'monofur';
}

e-session { display: block;
            width: 100%;
			height: 100%; }

e-term { display: block;
         width: 100%;
		 height: 100%; }

.info-bars { width: 100%;
             position: absolute;
			 bottom: 0px;
			 left: 0px;
			 display: flex;
			 flex-direction: column; }

e-completions { width: 100%;
                background: var(--autocompletions-background);
                color: var(--autocompletions-color);
                overflow-x: hidden;
                text-overflow: ellipsis; }

.completion { margin-left: 5px;
              margin-right: 5px; }

e-error { display: block;
          width: 100%; 
		  background: var(--red);
		  color: var(--base03); }

e-input { display: block;
          width: 100%; }

#block-input-container { min-height: 1rem; }
#block-input-container:focus { outline-style: none; }

e-output { display: block;
           min-width: 100vw; 
           line-height: 1em;
           background: var(--result-background); }

e-export-json { width: 90vw; }

.json-export-header { display: flex;
                      flex-direction: row;
					  justify-content: space-between; }

.json-export-header div { display: flex; }

.json-export-preview { width: 80vw; }

e-import-json textarea { width: 80vw; }
e-import-json p { color: red }

.line { min-height: 1em;
        line-height: 1;
        padding: 0em;
        margin: 0em; }

.line:focus { outline-style: none; }

.caret { min-width: 0.5em;
         animation: blink .75s step-end infinite; }

@keyframes blink { from, to { background-color: var(--term-background-inverted); 
                              color: var(--term-color-inverted); }
                   50% { background-color: var(--term-background);
                         color: var(--term-color); } }

.autocompletion .caret { animation: auto-blink .75s step-end infinite; }

@keyframes auto-blink { 
  from, to { background-color: var(--term-background-inverted);
             color: var(--autocompletion-color-inverted); }
  50% { background-color: var(--term-background);
        color: var(--autocompletion-color); } }

.autocompletion { color: var(--autocompletion-color); }
