/* ---------------------------------------------------- Pretty printing */

.result { display: block; 
          width: 100%; }

.result > .condensed > .collapsed { display: none; }
.result > .condensed > .condensed { display: inline-flex; }
.result > .condensed > .expanded { display: none; }
.result > .collapsed > .condensed { display: none; }
.result > .collapsed > .collapsed { display: block; }
.result > .collapsed > .expanded { display: none; }
.result > .expanded > .condensed { display: none; }
.result > .expanded > .collapsed { display: none; }
.result > .expanded > .expanded { display: block; }

e-output > .pp-undefined { display: block; 
                           height: 3px;
						   width: 100%;
					       background: var(--result-undefined-line); 
						   font-size: 0em; }
.pp-undefined { color: var(--result-undefined-color); }

.pp-boolean { color: var(--result-boolean-color); }

.pp-number { color: var(--result-number-color); }

.pp-string { color: var(--result-string-color); }
.pp-string > .collapsed > .collapsed  { white-space: nowrap;
									    display: block;
									    overflow: hidden;
						  			    text-overflow: ellipsis; 
						  			    width: 100%; }

.pp-array > .collapsed > .collapsed { overflow: hidden;
                                      text-overflow: ellipsis;
									  white-space: nowrap; }
.pp-array > .collapsed > .collapsed > .result { display: inline-flex; }
.pp-array > .expanded > .expanded { display: block; }
.pp-array > .expanded > .expanded > .pp-array-item { 
  display: block; 
  padding-left: 1em; 
  width: calc(100% - 1em);
}

.pp-object > .collapsed > .collapsed { display: flex; }
.pp-object > .collapsed > .collapsed > .pp-object-property {
  display: flex;
}
.pp-object > .expanded > .expanded { display: flex;
                                     flex-direction: column; }
.pp-object > .expanded > .expanded > .pp-object-property { 
  display: flex;
  padding-left: 1em;
}

.pp-key { color: var(--result-key-color); }
